<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
    
</head>
<body>
    <section id="Nav-Bar">
        <div>Maybe Logo</div>
        <input type="checkbox" id="link-tog">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>  
        <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="/wrong">What's Wrong?</a></li>
            <li><a href="/lab">Lab</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </section>

     <div id="Big">
        homer
     </div>
     <div id="scroller" >

     </div>
     <div id="footer">
        <ul id="linker">
            <li><a href="/">Home</a></li>
            <li><a href="/wrong">What's Wrong?</a></li>
            <li><a href="/lab">Lab</a></li>
            <li><a href="/contact">Contact</a></li>
         </ul>
     </div>
</body>
</html>